.list {
    margin-bottom: 20px;
    
    &__add-button {
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }
    li {
            display: flex;
            align-items: center;
            padding: 10px 12px;
            cursor: pointer;
            margin-bottom: -10px;

            &:hover {
                background: rgba(255, 255, 255, 0.61);
            }
    
            &.active {
                background: #FFFFFF;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
                border-radius: 4px;
            }

            .badge {
                position: relative;
                left: 5px;
            }
        }
    
        i {
            display: inline-flex;
            align-items: center;
        }
    
        span {
            margin-left: 12px;
        }
    
}